.leftMenuChild {
  width: 340px;
  height: 1080px;
  position: relative;
  box-shadow: 12px 20px 50px rgba(0, 0, 0, 0.1);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.logoIcon {
  width: 216px;
  height: 60px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.layer1Icon,
.layersChild {
  width: 31px;
  position: relative;
  z-index: 1;
}
.layer1Icon {
  height: 31px;
  overflow: hidden;
  flex-shrink: 0;
}
.layersChild {
  height: 30px;
}
.layers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-16xl);
}
.layer1Child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.layer1 {
  width: 31px;
  height: 33px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.frameChild,
.layer1Icon2,
.vectorIcon {
  width: 31px;
  height: 31px;
  position: relative;
  z-index: 1;
}
.layer1Icon2,
.vectorIcon {
  height: 24px;
}
.layer1Icon2 {
  height: 29px;
  overflow: hidden;
  flex-shrink: 0;
}
.layer1Parent,
.layersParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-17xl);
}
.layersParent {
  gap: var(--gap-192xl);
}
.dashboard {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  min-width: 110px;
  z-index: 1;
}
.dashboard,
.events,
.logistics {
  display: inline-block;
}
.events {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  min-width: 64px;
  z-index: 1;
}
.logistics {
  font-weight: 600;
  min-width: 87px;
}
.logistics,
.overview,
.taskAssignment1 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  z-index: 1;
}
.taskAssignment1 {
  font-weight: 600;
  color: var(--color-tomato-100);
}
.overviewParent {
  align-self: stretch;
  gap: var(--gap-mini);
  color: var(--color-darkslategray-100);
}
.contentItems,
.logisticsParent,
.overviewParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.logisticsParent {
  align-self: stretch;
  gap: var(--gap-xl);
  color: var(--color-darkslategray-200);
}
.contentItems {
  flex: 1;
  gap: var(--gap-18xl);
}
.frameInner {
  width: 12px;
  height: 9px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 100%;
  height: 100%;
  display: none;
}
.arrowIcon {
  position: absolute;
  top: -7px;
  left: 6px;
  width: 0;
  height: 1px;
  object-fit: contain;
}
.rectangleParent {
  width: 12px;
  height: 9px;
  position: relative;
  z-index: 1;
}
.frameParent {
  flex-direction: column;
  gap: var(--gap-38xl);
}
.frameParent,
.innerContent,
.innerContentInner,
.innerContentParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.innerContentInner {
  flex-direction: column;
  padding: var(--padding-4xs) 0 0;
}
.innerContent,
.innerContentParent {
  align-self: stretch;
}
.innerContent {
  flex-direction: row;
  gap: 28px;
}
.innerContentParent {
  flex-direction: column;
  gap: var(--gap-mini);
}
.deliveries,
.inventory,
.reports,
.settings,
.users {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  display: inline-block;
  min-width: 91px;
  z-index: 1;
}
.deliveries,
.reports,
.settings,
.users {
  min-width: 93px;
}
.reports,
.settings,
.users {
  min-width: 75px;
}
.settings,
.users {
  min-width: 54px;
}
.settings {
  min-width: 79px;
}
.settingsLabels {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-18xl-3);
}
.frameChild2 {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 0;
  height: 1px;
  object-fit: contain;
}
.frameWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
}
.content,
.settingsLabelsParent {
  align-self: stretch;
  align-items: flex-start;
}
.settingsLabelsParent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.content {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-19xl);
}
.content,
.leftMenu,
.menuContent {
  display: flex;
  justify-content: flex-start;
}
.menuContent {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-mini);
}
.leftMenu {
  box-shadow: 12px 20px 50px rgba(0, 0, 0, 0.1);
  background-color: var(--color-white);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-22xl) var(--padding-15xl) var(--padding-245xl)
    var(--padding-31xl);
  box-sizing: border-box;
  gap: var(--gap-31xl);
  max-width: 100%;
}
.dashboardLogistics {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  display: inline-block;
  max-width: 100%;
}
.taskAssignment2 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-11xl);
  letter-spacing: -0.03em;
  line-height: 120%;
  font-weight: 600;
  font-family: inherit;
}
.userHeader,
.userHeaderWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.userHeader {
  align-self: stretch;
  gap: var(--gap-29xl);
}
.userHeaderWrapper {
  padding: var(--padding-lg) 0 0;
  box-sizing: border-box;
  min-width: 760px;
}
.frameContainer,
.sidebarContent {
  align-self: stretch;
  max-width: 100%;
}
.frameContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.sidebarContent {
  flex-direction: column;
  gap: var(--gap-11xl);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-100);
  font-family: var(--font-poppins);
}
.rightSidebar,
.sidebarContent,
.taskAssignment {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rightSidebar {
  width: 1480px;
  flex-direction: column;
  padding: var(--padding-21xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.taskAssignment {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  flex-direction: row;
  gap: var(--gap-31xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1800px) {
  .taskAssignment {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1350px) {
  .userHeaderWrapper {
    flex: 1;
  }
  .frameContainer {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 900px) {
  .leftMenu {
    padding-top: var(--padding-8xl);
    padding-bottom: var(--padding-153xl);
    box-sizing: border-box;
  }
  .taskAssignment2 {
    font-size: var(--font-size-5xl);
    line-height: 29px;
  }
  .userHeader {
    gap: var(--gap-5xl);
  }
  .userHeaderWrapper {
    min-width: 100%;
  }
  .taskAssignment {
    gap: var(--gap-6xl);
  }
}
@media screen and (max-width: 450px) {
  .dashboard,
  .deliveries,
  .events,
  .inventory,
  .logistics,
  .overview,
  .reports,
  .settings,
  .taskAssignment1,
  .users {
    font-size: var(--font-size-base);
    line-height: 22px;
  }
  .leftMenu {
    gap: var(--gap-6xl);
    padding-left: var(--padding-xl);
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-93xl);
    box-sizing: border-box;
  }
  .taskAssignment2 {
    font-size: var(--font-size-lg);
    line-height: 22px;
  }
}