.leftMenuChild {
  width: 340px;
  height: 1080px;
  position: relative;
  box-shadow: 12px 20px 50px rgba(0, 0, 0, 0.1);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.logoIcon,
.menuIconsChild {
  position: relative;
  z-index: 1;
}
.logoIcon {
  width: 216px;
  height: 60px;
  overflow: hidden;
  flex-shrink: 0;
}
.menuIconsChild {
  width: 12px;
  height: 9px;
  object-fit: contain;
}
.frameChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 100%;
  height: 100%;
  display: none;
}
.frameItem {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 0;
  height: 1px;
  object-fit: contain;
}
.rectangleParent {
  width: 12px;
  height: 9px;
  position: relative;
  z-index: 1;
}
.menuIcons {
  position: absolute;
  top: 77px;
  left: 244px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-38xl-3);
}
.dashboard,
.events {
  display: inline-block;
}
.dashboard {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  min-width: 110px;
  z-index: 1;
}
.events {
  min-width: 64px;
}
.events,
.logistics {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  z-index: 1;
}
.inventory {
  display: inline-block;
  min-width: 91px;
}
.deliveries,
.inventory,
.liveTrackingMap,
.proofOfDelivery {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  z-index: 1;
}
.deliveries {
  font-weight: 600;
  color: var(--color-darkslategray-200);
  display: inline-block;
  min-width: 97px;
}
.liveTrackingMap,
.proofOfDelivery {
  align-self: stretch;
}
.proofOfDelivery {
  font-weight: 600;
  color: var(--color-tomato-100);
}
.trackingMenu {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-base-5);
  gap: var(--gap-mini);
}
.reports,
.users {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  display: inline-block;
  min-width: 75px;
  z-index: 1;
}
.users {
  min-width: 54px;
}
.reportsMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-base);
  gap: var(--gap-17xl-5);
}
.settings {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 140%;
  display: inline-block;
  min-width: 79px;
  z-index: 1;
}
.deliveriesMenu,
.menuItems {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.deliveriesMenu {
  align-self: stretch;
  gap: var(--gap-xl);
}
.menuItems {
  position: absolute;
  top: 2px;
  left: 46px;
  width: 210px;
  gap: var(--gap-19xl);
}
.frameInner,
.layer1Icon {
  width: 31px;
  position: relative;
  z-index: 1;
}
.layer1Icon {
  height: 31px;
  overflow: hidden;
  flex-shrink: 0;
}
.frameInner {
  height: 30px;
}
.groupIcon,
.layer1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.layer1 {
  top: 0.3px;
  overflow: hidden;
  display: none;
  z-index: 2;
}
.frameChild1,
.frameParent {
  width: 31px;
  height: 33px;
  position: relative;
}
.frameChild1 {
  height: 31px;
  z-index: 1;
}
.layer1Parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-15xl-9);
}
.layer1Icon2,
.vectorIcon {
  width: 31px;
  height: 24px;
  position: relative;
  z-index: 1;
}
.layer1Icon2 {
  height: 29px;
  overflow: hidden;
  flex-shrink: 0;
}
.frameGroup,
.layersMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-18xl);
}
.layersMenu {
  position: absolute;
  top: 0;
  left: 0;
  gap: var(--gap-148xl-3);
}
.menu {
  align-self: stretch;
  height: 621px;
  position: relative;
}
.leftMenu {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 12px 20px 50px rgba(0, 0, 0, 0.1);
  background-color: var(--color-white);
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-22xl) var(--padding-15xl) var(--padding-289xl)
    var(--padding-31xl);
  box-sizing: border-box;
  gap: var(--gap-31xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 450px) {
  .dashboard,
  .deliveries,
  .events,
  .inventory,
  .liveTrackingMap,
  .logistics,
  .proofOfDelivery,
  .reports,
  .settings,
  .users {
    font-size: var(--font-size-base);
    line-height: 22px;
  }
}
