.modalChild {
  width: 891px;
  height: 850px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.proofDetails {
  margin: 0;
  width: 327.5px;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 120%;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: calc(100% - 38px);
  z-index: 1;
}
.closeIconChild {
  width: 17.9px;
  height: 18px;
  position: relative;
  z-index: 1;
}
.closeIcon,
.modalHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.modalHeader {
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0 var(--padding-8xs);
  gap: var(--gap-xl);
  color: var(--color-darkslategray-200);
}
.headerSeparator,
.headerSeparatorChild,
.modalHeader {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.headerSeparatorChild {
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-lightgray);
  z-index: 1;
}
.headerSeparator {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-3xs) var(--padding-9xs);
}
.loremIpsumDolor {
  position: relative;
  font-size: var(--font-size-lg);
  letter-spacing: -0.03em;
  line-height: 140%;
  z-index: 1;
}
.deliveryInformation {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
  font-size: var(--font-size-5xl);
}
.pickupLocation,
.sauerLock {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 140%;
  z-index: 1;
}
.pickupLocation {
  font-weight: 600;
}
.sauerLock {
  display: inline-block;
  max-width: 100%;
}
.locationItems {
  flex-direction: row;
  gap: var(--gap-13xl);
}
.location,
.locationItems,
.locationItems1,
.modalContent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.locationItems1 {
  flex-direction: row;
  gap: var(--gap-7xl);
}
.location,
.modalContent {
  flex-direction: column;
}
.location {
  gap: var(--gap-mini);
  font-size: var(--font-size-xl);
}
.modalContent {
  align-self: stretch;
  gap: var(--gap-xl);
}
.digitalSignature {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 140%;
  font-weight: 600;
  z-index: 1;
}
.image12Icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.signatureData {
  width: 277px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.imageIcon,
.photos {
  position: relative;
  z-index: 1;
}
.photos {
  letter-spacing: -0.03em;
  line-height: 140%;
  font-weight: 600;
  display: inline-block;
  min-width: 87px;
}
.imageIcon {
  height: 81px;
  width: 81px;
  border-radius: var(--br-3xs);
  object-fit: cover;
}
.photoGallery,
.proofPhotos,
.signature {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-mini);
}
.proofPhotos,
.signature {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.signature {
  gap: var(--gap-21xl);
}
.button,
.button1 {
  height: 50px;
  z-index: 1;
}
.button {
  width: 140px;
}
.button1 {
  flex: 1;
  box-shadow: 0 10px 30px rgba(237, 48, 6, 0.2);
}
.proofActions,
.signaturePhoto {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.proofActions {
  width: 320px;
  flex-direction: row;
  gap: var(--gap-xl);
}
.signaturePhoto {
  flex-direction: column;
  gap: var(--gap-60xl);
  max-width: 100%;
}
.marshallSalzar {
  margin: 0;
  font-weight: 600;
}
.id284772 {
  margin: 0;
}
.marshallSalzarIdContainer {
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: -0.03em;
  line-height: 140%;
  z-index: 1;
}
.recipientIdentity,
.recipientInfoWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.recipientIdentity {
  flex-direction: column;
  gap: var(--gap-4xl);
}
.recipientInfoWrapper {
  flex-direction: row;
  padding: 0 var(--padding-12xs);
}
.comment {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 140%;
  font-weight: 600;
  display: inline-block;
  min-width: 127px;
  z-index: 1;
}
.commentInputWrapper,
.description {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 var(--padding-11xs);
}
.description {
  border: 1px solid var(--color-darkgray);
  background-color: var(--color-white);
  height: 120px;
  width: auto;
  outline: 0;
  align-self: stretch;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  padding: var(--padding-mini) var(--padding-13xl);
  font-family: var(--font-poppins);
  font-size: var(--font-size-base);
  z-index: 1;
}
.recipientInfoContainer {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-44xl);
  min-width: 263px;
}
.modal,
.recipientInfoContainer,
.signaturePhotos {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.signaturePhotos {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-17xl);
  font-size: var(--font-size-5xl);
}
.modal {
  position: absolute;
  top: calc(50% - 425px);
  left: calc(50% - 445px);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 891px;
  flex-direction: column;
  padding: var(--padding-21xl) var(--padding-21xl) var(--padding-31xl);
  box-sizing: border-box;
  gap: var(--gap-21xl);
  z-index: 4;
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 825px) {
  .locationItems,
  .locationItems1 {
    flex-wrap: wrap;
  }
  .signaturePhoto {
    flex: 1;
    min-width: 100%;
  }
  .recipientIdentity {
    flex: 1;
  }
  .signaturePhotos {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .proofDetails {
    font-size: var(--font-size-2xl);
    line-height: 25px;
  }
  .pickupLocation,
  .sauerLock {
    font-size: var(--font-size-base);
    line-height: 22px;
  }
  .digitalSignature,
  .photos {
    font-size: var(--font-size-lgi);
    line-height: 27px;
  }
  .photoGallery {
    flex-wrap: wrap;
  }
  .marshallSalzarIdContainer {
    font-size: var(--font-size-base);
    line-height: 22px;
  }
  .comment {
    font-size: var(--font-size-lgi);
    line-height: 27px;
  }
}
